---
title: Contact
---

<h1>Contact us</h1>

<div class="homepage-row">
    <div class="homepage-column">
        <p>Feel free to contact us if you have any questions!</p>
        <p>Send an email to <a href="mailto:ethicalhackers@sheffield.ac.uk">ethicalhackers@sheffield.ac.uk</a></p>
        <p>Find all our socials links on our <a href="https://linktr.ee/shefesh">LinkTree</a></p>
        <p>Join out Discord server <a href="https://discord.gg/XyQBQJFEcR">here</a>!</p>
        <br>
        <p>For inclusions issues, you can email directly to our inclusions officer Keshav: 
        <a href="mailto:kagrawal1@sheffield.ac.uk">kagrawal1@sheffield.ac.uk</a></p>

    </div>

    <div class="homepage-column">
        <h2>OUR SOCIAL MEDIA:</h2>

        <div class="social-media">
            <a href="https://github.com/ShefESH">
                <img src="/images/github.png" alt="Github logo">
            </a>
            <a href="https://discord.gg/XyQBQJFEcR">
                <img src="/images/discord.png" alt="Discord logo">
            </a>
            <a href="https://instagram.com/_shefesh">
                <img src="/images/instagram.png" alt="Instagram logo">
            </a>
            <a href="https://www.linkedin.com/company/sheffield-ethical-student-hackers">
                <img src="/images/linkedin.png" alt="Linkedin logo">
            </a>
        </div>


        <a href="https://su.sheffield.ac.uk/activities/view/ethical-student-hackers-society/"><h2>Join Us!</h2></a>
    </div>
</div>