---
title: Home
---

<h1>Sheffield Ethical Student Hackers</h1>
<div class="homepage-row">
    <div class="homepage-column">
    <h2>We are SESH - University of Sheffield's Ethical Student Hackers Society</h2>
        <img id="shefesh-homepage-logo" src="/logos/logo.png" alt="Sheffield Ethical Student Hackers logo">
    </div>

    <div class="homepage-column">
    <br><br><br>
        <p class="highlight-alternative">We deliver regular sessions covering a variety of cybersecurity topics</p>
        <p>We'll teach you all the theory, including <span class="highlight">web application attacks</span> 
            and <span class="highlight">buffer overflows</span>.</p>
        <p>And we'll go from the theory to applying it to <span class="highlight">ethical hacking!</span>.</p>
        <p>To teach you this we do <span class="highlight-alternative-2">live demos, CTF challenges, theory lectures, worksheets and more!</span></p>
        <p>We formed in 2018</p>
        <p>We're also always trying to expand our links with industry, and have some fun guest talks planned this year!</p>
    </div>
</div>