.HoverHidden{display: none;}

#nav{
    width: 80%;
    padding: 0 10% 0 10%;
    margin: 0;
    border: 0;
    padding-bottom: 0.2em
}

.container{
    display: flex;
    justify-content: center;
    background-color: var(--header-background);
    color: var(--header-text);
    font: var(--standard-font);
}

.menuLink, .menuLinkMain{
    display: inline-block;
    background-color: rgb(18, 138, 251);
    border-radius: 5px;
    padding: 10,10,10,10;
}

.menuLink a{
    display: block;
}

#Wiki{
    position: relative;
}

#Careers{
    position: relative;
}

#Careers:hover{
    #careerHide{
        display: block;
        position: absolute;
        /* not sure why this works but using left sends it way off to right -JR */
        right: -33px;
        li {display: block;}
    }
}

#Wiki:hover{
    #wikiHide{
        display: block;
        position: absolute;
        /* ditto as above */
        right: -52px;
        li {display: block;}
    }
}

@media (pointer: coarse){

    #career-click-box:not(:checked) ~ #careerHide{
        display: none;
    }
    #wiki-click-box:not(:checked) ~ #wikiHide{
        display: none;
    }

    #career-click-box:checked + label{
        #Careers {display:none;}
        #careerHide{
            display: block;
            position: absolute;
            right: -33px;
            li {display: block;}
        }
    }

    #wiki-click-box:checked + label{
        #Wiki {display:none;}
        #wikiHide{
            display: block;
            position: absolute;
            right: -33px;
            li {display: block;}
        }
    }



}

/* changing nav menu to mobile version */
@media screen and (max-width: 600px){
    #nav{
        text-align: center;
        justify-content: center;
        .menuLinkMain {
            display: block;
            margin: 10px 10px 10px 10px;
        }
    }

}