<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= wiki_title_from_name @item.identifier %> - ShefESH Wiki</title>
</head>
<body>
    <header>
        <img src="/logos/Wiki.png" alt="ShefESH Wiki" style="max-height: 200px">
    </header>
    <main>
        <h1><%= wiki_title_from_name @item.identifier %></h1>
        <%= yield %>
    </main>
    <footer>
    <%= render "/partial/footer.erb" %>
    </footer>
</body>
</html>
