.HoverHidden{display: none;}

#nav{
    width: 80%;
    padding: 0 10% 0 10%;
    margin: 0;
    border: 0;
    padding-bottom: 0.2em
}

#logo{
    max-width: 85px;
    max-height: 85px;
    padding-right: 10px;
}

.container{
    display: flex;
    justify-content: center;
    background-color: var(--header-background);
    color: var(--header-text);
    font: var(--standard-font);
}

.menuLink, .menuLinkMain{
    display: inline-block;
    background-color: var(--header-background);
    color: var(--shefesh-complement);
    border-radius: 5px;
    padding: 10px 10px 10px 10px;
}

.menuLink, .menuLinkMain:hover{
    background-color: #1C1E29;
}

.menuLink a{
    display: block;
}

#Wiki{
    position: relative;
}

#Careers{
    position: relative;
}

.fa-bars{
    font-size: 36px;
}

#ham-icon{
    padding-left: 45px;
}

#hamburger{
    justify-content: center;
    text-align: center;
}

#Careers:hover, #Wiki:hover{
    #careerHide, #wikiHide{
        display: block;
        position: absolute;
        z-index: 1;
        li {display: block;}
    }

    #careerHide{right: -36px !important;}
    #wikiHide{right: -62px !important;}
}

@media (pointer: coarse){

    #career-click-box:not(:checked) ~ #careerHide{
        display: none;
    }
    #wiki-click-box:not(:checked) ~ #wikiHide{
        display: none;
    }

    #career-click-box:checked + label{
        #Careers {display:none;}
        #careerHide{
            display: block;
            position: absolute;
            left: 0;
            li {display: block;}
        }
    }

    #wiki-click-box:checked + label{
        #Wiki {display:none;}
        #wikiHide{
            display: block;
            position: absolute;
            right: -33px;
            li {display: block;}
        }
    }



}

/* changing nav menu to mobile version */
@media screen and (max-width: 600px){
    #nav{
        text-align: center;
        justify-content: center;
        .menuLinkMain {
            display: block;
            margin: 10px 10px 10px 10px;
        }
    }

    #careerHide{
        position: absolute;
        left: -80px;
    }

    #wikiHide{
        position: absolute;
        left: -100px;
    }

}