@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
:root {
    --shefesh-complement: #09cece;

    --shefesh-accent: #A21135;

    --body-background: #EEFBFB;
    --body-text: #1C1E29;

    --card-background: #8AE5E5;
    --card-text: #1C1E29;

    --header-background: #33354b;
    --header-text: white;

    --shefesh-grey: #3b3b3b;

    --standard-font: "Comic Neue", "Roboto", "Inter", "San Fransisco", "Helvetica", "Arial", sans-serif;
    --title-font: "Comic Neue", "Roboto Mono", monospace;
    --condensed-font: "Comic Neue", "Roboto Condensed", "Inter Tight", "Arial Narrow", "Oswald", sans-serif;

}

@media (prefers-color-scheme: dark) {
    :root {
        --shefesh-accent: #FC83A1;

        --body-background: #1C1E29;
        --body-text: white;

        --card-background: #33354b;
        --card-text: white;
    }
}

body {
    background-color: var(--body-background);
    color: var(--body-text);
    font-family: var(--standard-font);
}

header {
    --shefesh-accent: #FC83A1;
    background-color: var(--header-background);
    color: var(--header-text);
}

:not(header, footer) :is(h1, h2, h3, h4, h5, h6) {
    font-weight: 900;
    font-family: var(--title-font);
    /* color: var(--shefesh-accent); */
    /* removed this cause I want it to be white */
    /* maybe we get SOME headers to be colour and some not? */
}

a {
    font-weight: bold;
    color: var(--shefesh-accent);
}

