body {
    margin: 0px;
}   

main {
    display: grid;
    grid-template-areas:
        "a"
        "b";
}

@media screen and (min-width: 720px) {
    main {
        width: min(100%, 1400px);
        grid-template-areas: "b a";
        grid-template-columns: 4fr 10fr;
    }
}


nav.wiki-sidenav {
    grid-area: "b";
    padding-top: 10vh;
    padding-left: 3vw;
}

nav.wiki-sidenav ul {
    list-style: none;
    padding: 0px;
}

nav.wiki-sidenav li {
    display: block;
    text-decoration: none;
}

main article {
    grid-area: "a";
    margin-top: 5vh;
    background-color: var(--card-background);
    color: var(--card-text);
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
    padding: 0 32px 32px 32px;
}

main article hgroup {
    margin-top: 36px;
}

nav.wiki-breadcrumb-trail {
    font-family: var(--title-font);
}

.wiki-breadcrumb-separator {
    color: var(--shefesh-grey)
}

main article h1 {
    font-size: 2em;
    margin-top: 0px;
}

:is(h2, h3, h4, h5, h6) {
    margin: 36px 0 0 0;
}

:is(h1, h2, h3, h4, h5, h6) + :is(h1, h2, h3, h4, h5, h6) {
    margin-top: 6px;
}

p {
    margin: 12px 0 12px 0;
}