<ul>
    <li><a href="/conduct">Code of Conduct</a></li>
    <li><a href="/contact">Contact</a>
    <li><a href="/join">Join the Society</a>
</ul>

<p>Copyright &copy; 2018-<%= Date.today.year %> Sheffield Ethical Student Hackers Society. All rights reserved except where otherwise stated.</p>

<a href="/"><img src="/logos/logo.png" alt="Shefesh Logo"></a>

