<ul>
    <li><a href="/conduct">Code of Conduct</a></li>
    <li><a href="/contact">Contact</a>
    <li><a href="/discord">Join Discord server</a></li>
    <li><a href="/join">Join Society</a>
</ul>

<p class="footer-copyright-info">Copyright &copy; 2018-<%= Date.today.year %> Sheffield Ethical Student Hackers Society (ShefESH). All rights reserved except where otherwise stated.</p>
<p class="print-only-line">You must follow the ShefESH Code of Conduct when using ShefESH resources. For the latest version, see <b>shefesh.com/conduct</b>.</p>

<a href="/"><img src="/logos/logo.png" alt="Shefesh Logo"></a>

