<br>
<div id="banner" class="container">
    <a href="/" id="logo-link"><img src="/logos/logo.png" alt="Shefesh Logo" id="logo"></a>
    <h1>Sheffield Ethical Student Hackers</h1>
</div>
<div id="hamburger">
    <input type="checkbox" id="nav-click-box" hidden>
    <label for="nav-click-box" id="nav-label"><i class="fa fa-bars" id="ham-icon"></i></label>

    <div id="nav" class="container">
        <ul>
            <li class="menu-link-main"><a href="/" id="home">Home</a></li>
            <li class="menu-link-main"><a href="/sessions" id="sessions">Sessions</a></li>
            <li class="menu-link-main"><a href="/committee" id="committee">Committee</a></li>
            <li class="menu-link-main"><a href="/contact" id="contact">Contact</a></li>
            <li class="menu-link-main"><a href="/join" id="join-us">Join Us!</a></li>


            <li id="wiki" class="menu-link-main">
                <input type="checkbox" id="wiki-click-box" hidden>
                <label for="wiki-click-box"><a class="hoverItem" href="/wiki">Wiki</a></label>
                <div id="wiki-hide" class="HoverHidden">
                    <ul>
                        <% Dir.children("content/wiki").sort.each do |child| %>
                            <% next if child.end_with? 'index.md' %>
                            <li class="menu-link">
                                <a href="/wiki/<%= File.basename(child, '.md')%>">
                                    <%= wiki_title_from_name child %>
                                </a>
                            </li>
                        <% end %>
                    </ul>
                </div>
            </li>
        </ul>
    </div>
</div>
