<div id="banner" class="container">
    <!-- add shefesh logo -->
    <h1>Sheffield Ethical Student Hackers</h1>
</div>
<div id="nav" class="container">
    <ul>
        <li class="menuLinkMain"><a href="/" id="Home">Home</a></li>
        <li class="menuLinkMain"><a href="/sessions" id="Sessions">Sessions</a></li>
        <li class="menuLinkMain"><a href="/committee" id="Committee">Committee</a></li>
        <li class="menuLinkMain"><a href="/contact" id="Contact">Contact</a></li>
        <li class="menuLinkMain"><a href="/join-us" id="Join-Us">Join Us!</a></li>

        <li id="Careers" class="menuLinkMain">
            <input type="checkbox" id="career-click-box" hidden>
            <label for="career-click-box"><a class="hoverItem">Careers</a></label>
            <div id="careerHide" class="HoverHidden">
                <ul>
                    <li class="menuLink"><a href="/careers" id="Careers-Home">Careers</a></li>
                    <li class="menuLink"><a href="/careers/oppotunities" id="Oppotunities">Oppotunities</a></li>
                </ul>
            </div>
        </li>

        <li id="Wiki" class="menuLinkMain">
            <input type="checkbox" id="wiki-click-box" hidden>
            <label for="wiki-click-box"><a class="hoverItem">Wiki</a></label>
            <div id="wikiHide" class="HoverHidden">
                <ul>
                    <li class="menuLink"><a href="/wiki" id="Wiki-Home">Wiki Home</a></li>
                    <li class="menuLink"><a href="/wiki/fundamental-skills" id="Fundamental-Skills">Fundamental Skills</a></li>
                    <li class="menuLink"><a href="/wiki/worksheets" id="Worksheets">Worksheets</a></li>
                    <li class="menuLink"><a href="/wiki/resources" id="Resources">Resources</a></li>
                    <li class="menuLink"><a href="/wiki/virtual-machine" id="Virtual-Machine">Virtual Machine</a></li>
                </ul>
            </div>
        </li>
        <!-- hope this isnt broken -->
        <!-- Add Search Bar if implemented -->
    </ul>
</div>
